<% provide(:title, "いいね") %>
<h1 class="text-center mt-4">いいね</h1>
<%= render 'animals/animal_each' %>
<div class="index-paginate mt-4">
  <%= paginate @animals, theme: 'twitter-bootstrap-4', class:"mt-4" %>
</div>
