<div class="home">
  <p>皆さんにとっての世界一を教えてください</p>
  <%= form_tag(animals_search_path, method: :get) do %>
    <%= label_tag :キーワード検索 %>
    <%= text_field_tag "animal", "", { class: "form-control mb-4", placeholder: "動物の種類など" } %>
    <%= submit_tag "探す" ,{ class: "form-control btn-primary mb-4" } %>
  <% end %>
</div>
      
