<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>編集</h2>
        <%= render 'form', animal: @animal %>
        <%= link_to "戻る", animal_path(@animal) %>
    </div>
  </div>
</div>

