<% provide(:title, "ペットのみんな") %>
<h1 class="text-center mt-4"><i class="fa-solid fa-paw"></i> ペットのみんな <i class="fa-solid fa-paw"></i></h1>
<%= render 'animal_each' %>
<div class="index-paginate">
  <%= paginate @animals, theme: 'twitter-bootstrap-4' %>
</div>
