.home-main {
  background-image: url("dog-background-image.jpg");
  background-position: center center;
  width: auto;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 575px) {
  .home-main {
    background-image: none;
    height: 280px;
  }
}

h1 {
  font-family: YuGothic;
  font-weight: bold;
  margin-top: 1em;
}

h2 {
  font-weight: bold;
}

.nav-link {
  font-weight: 550;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  > p {
    margin-bottom: 0;
  }
}

.search-button {
  background-color:  #d2b48c;
  font-weight: bold;
}

.form-control {
  border-color: #d2b48c;
  border-width: medium;
}

.card {
  border-color: #d2b48c;
  border-width: medium;
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
}

.pagination span {
  text-align: center;
  width: 50px;
  font-size: 20px;
}
.pagination a {
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

.current{
  font-weight: bold;
  color: #84b8eb;
  padding: 10px;
}

.pagination>li>a {          
  border: none;
  color: #696969;
}
